<!-- <div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I like working with computers. It's my hobby and my profession. I love the Internet and the way it works, and I am comfortable working on web applications; frontend and backend. I've worked on smartphone apps, both native and hybrid, and I have experience with Linux system administration. I have a keen interest in securing information systems and building secure systems.
            </p>
            <p class="paragraph-text justify-text">
                My role models include old-school programmers and <a href="https://stallman.org/articles/on-hacking.html">hackers</a> who never make it to the mainstream news, but are responsible for most of the software that most people use on an everyday basis. I promote, support and use free and open source software to the extent possible.
            </p>
            <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">nagekar.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div> -->

<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                This is Sungyoung Lee from Seoul National University (SNU), South Korea. I have my major in Electrical Engineering and Computer Science (EECS), and two specific fields that I'm currently interested are :<br>
                <strong>Reinforcement Learning</strong> and <strong>Integrated Circuits Design.</strong><br>
                What makes me so interesting with these fields are due to their recursive structure. It is always fascinating to make the agent train his policy automatically and study smart circuit architectures(ex: Phase Locked Loop) in a recursive manner.
            </p>
            <p class="paragraph-text justify-text">
                With respect to EECS major, I'm pretty sure I've only experienced the tip of an iceberg. Hence, I have my strong will to go to Graduate School, where I can fulfill my research interests. I believe studying CAD and EDA fields would be a great opportunity for myself to experience both interests.
            </p>
            <p class="paragraph-text justify-text">
                I post my software projects on <a href="https://github.com/brianlsy98">GitHub</a> and my email address is <strong>brianlsy@snu.ac.kr</strong>. You can contact me by referring to the contact part <span class="extra-link"><a href="#extra">below</a></span>. Anyone who are interested, please feel free to ask me at any time!
            </p>
        </div>
    </section>
</div>