---
import { Icon } from "astro-icon/components";

const socialLinks: {
	friendlyName: string;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Email",
		link: "mailto:sylee@utexas.edu",
		name: "mdi:email-outline",
	},
	{
		friendlyName: "Github",
		link: "https://github.com/brianlsy98",
		name: "mdi:github",
	},
	{
		friendlyName: "Google Scholar",
		link: "https://scholar.google.com/citations?user=6A2tjLEAAAAJ&hl=en",
		name: "mdi:school-outline",
	},
	{
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/brianlsy/",
		name: "mdi:linkedin",
	},
	{
		friendlyName: "X",
		link: "https://x.com/brianlsy98",
		name: "mdi:twitter",
	},
];
---

<div class="flex flex-wrap items-end gap-x-3">
	<ul class="flex flex-1 items-center gap-x-3 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, link, name }) => (
				<li class="flex">
					<a class="hover:text-link inline-block" href={link} rel="noreferrer" target="_blank">
						<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
